django
djangorestframework
openai
django-environ
PyJWT
psycopg2-binary
langgraph
psycopg-pool
langgraph-checkpoint-postgres
psycopg[binary]
openai
neo4j
python-dotenv
django-allauth
requests
cryptography
dotenv
djangorestframework-simplejwt
scikit-learn
pandas
numpy
Pillow
pytesseract
python-dateutil
langgraph-cli[inmem]
langgraph-supervisor
langchain
langchain-community
langchain-openai
langchain-core
langchain-neo4j
gunicorn
paramiko