{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Mypage/like.css' %}">
<div class="center-container">
    <div class="h2" style="margin-top: 20px; padding: 10px;">
        <span style="color: #DDC66F;">{{ user.name }}</span> <span style="color: #333333">님이 좋아요 누른 영양제</span>
    </div>
    <div class="caption-font" style="margin-top: 10px; margin-bottom: 10px; padding: 5px; color:#7D97A1;">
        <span style="color:#DDC66F">♥</span> {{ like_list|length }}개의 영양제
    </div>
    <div class="like-list-container">
        {% if like_list %}
            {% for like in like_list %}
            <div class="like-item" data-product-id="{{ like.product.id }}">
                <div class="product-container">
                    <img src="{{ like.product.image_link|default:'https://placehold.co/96x96?text=Image' }}" alt="Image"/>
                    <div class="item-info">
                        <div class="body-font" style="color: #333333">{{ like.product.title }}</div>
                        <div class="caption-font" style="color:#7D97A1">{{ like.product.manufacturer }}</div>
                        <div class="body-font" style="color: #EADCA6;">$ {{ like.product.total_price }}</div>
                        <div class="caption-font" style="color:#7D97A1;">
                            <span style="color:#DCA628">★</span> {{ like.product.average_rating }} ({{ like.product.total_reviews }})
                        </div>
                    </div>
                    <button class="heart-btn liked" title="Dislike">&#10084;</button>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <div class="empty-image">
            </div>
            <div class="h3" style="margin-top:8px;">좋아요 누른 영양제가 없어요.</div>
        {% endif %}
    </div>
    <div id="product-modal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <div id="modal-body">
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/Mypage/like.js' %}"></script>
{% endblock %}
